doctype html
html(lang="zh_CN")
    head
        meta(charset="UTF-8")
        title=title
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/common.css" rel="stylesheet")
    body
        block content
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/common.js")