extends ./layout

block right-main
    table.table.table-striped
        thead
            tr
                td #
                td Header
                td Header
                td Header

        tbody
            tr
                td 1.00
                td 1.00
                td 1.00
                td 1.00